.article-item {
    flex-basis: 240px;
    margin: 0 0 2rem;
    padding-right: 14px;
}

li {
    display: list-item;
}

.article-item > a {
    text-decoration: none;
}

.article-items {
    display: flex;
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: normal;
}

.article-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-bottom: 7px;
}

.article-item-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.article-item-desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.42;
    margin-bottom: 5px;
    color: #1a1d1e;
    font-family: OpenSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
}