.adventure-item {
    flex-basis: 240px;
    margin: 0 0 2rem;
    padding-right: 14px;
}

li {
    display: list-item;
}

.adventure-item > a {
    text-decoration: none;
}

.adventure-items {
    display: flex;
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: normal;
}

.adventure-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-bottom: 7px;
}

.adventure-item-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}