.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div img {
  display: block;
  border-bottom-right-radius: 90px;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
