header {
  grid-area: header;
}

.header p {
  margin: 0px;
}

#nav {

  height: 80px;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
  font-size: 15px;
  display: grid;
  grid: auto-flow / 1fr 80px 715px 148px;
}

  .nav-brand{
    align-items: center;
    display: flex;
    justify-content: start;
    padding-left: 50px;
    text-align: left;

  }

  .icon {
    fill: #007bc3;
  }

  .icon-login .icon {
    fill: #000000!important;

  }

  .icon-logo {
    width: 187px;
    height: 44px;
  }

  .nav-search {
    border-left: 1px solid rgba(209,212,217,.3);
    height: 80px;
    fill: #007bc3!important;
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 0 27px;

  }

  .nav-sections {
    height: 80px;
  }

  .nav-sections ul {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-sections li {
    color: #06c!important;
    position: relative;
    padding: 0 32px;
    align-items: center;
    border-left: 1px solid rgba(209,212,217,.3);
    display: flex;
    font-weight: 700;
    height: 100%;
    margin: 0;
    text-decoration: none;
    text-transform: none;

  }

  .nav-sections li ul {
    display: none;
  }

  .nav-auth {
    background-color: #ffd200;
    border-left: 0;
    color: #001f45;
    padding: 0 32px;
    align-items: center;
    display: flex;
    font-weight: 700;
    height: 100%;
    margin: 0;
    text-decoration: none;
    text-transform: none;
  }

  .nav-auth p {
    line-height: 0;
    margin-right: 7.5px;
  }

  .evo-icon__top-lvl {
    margin-left: 10px;
  }

  .nav-chevron {
    padding-top: 6px;
  }