/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
  background-color:  rgba(0, 123, 195, 0.92);
  background-color: rgba(0, 123, 195, 0.7);
  background: linear-gradient(90deg, rgba(240, 249, 255, 0.92) 0%, rgba(240, 249, 255, 0.7) 60%, rgba(240, 249, 255, 0) 70%);
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 440px;
  box-sizing: border-box;
}

main .hero h1 {
  color: #1a1d1e;
  font-family: Pru-Modern,sans-serif;
  letter-spacing: -0.5px;
  font-weight: 700;
  line-height: 1.125;
  font-size: 50px;
  max-width: 708px;
}

main .hero h4 {
  font-size: 17px;
  letter-spacing: -0.17px;
  font-weight: 400;
  line-height: 25.5px;
  font-family: Opensans-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  max-width: 708px;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 90px;
}

main .hero .cta {
  background-color: #ffd200;;
  border-radius: 30rem;
  color: #1a1d1e;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  max-width: 217px;
  padding: 10px 24px 10px 24px;
  display: block;
}

main .hero .cta .icon {
  fill: #1a1d1e;
}

main .hero .cta .evo-button__content {
  display: flex;
  align-items: center!important;
}
main .hero .cta .evo-button__content__icon {
  margin-left: 10px;
}


.banner-content {
  max-width: 1200px;
  margin: auto;
}