footer {
  padding: 2rem;
  background-color: #091f3d;
  color: hsla(0,0%,100%,.6);
  font-size: 12px;
  grid-area: footer;
  font-weight: 400;
  font-family: Opensans-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

footer:before {
    border-top-left-radius: 9rem;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0 0 12px 0 ;
}